/* html {
  height: 200vh;
  background-color: grey;
} */

/* .main {
  height: 200vh;
  background-color: white;
} */

* {
  box-sizing: border-box;
}

h3,
h1 {
  margin: 0;
}

body {
  color: #C8DDF3;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
  background-color: #485563;
}

a {
  color: #16D9E3;
  text-decoration: none;
}

a:hover {
  color: #00f2ff;
}

.start {
  font-size: 1.5rem;
  border: 1px solid white;
  border-radius: 6px;
  padding: 14px 15px 10px 15px;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #16D9E3;
  color: #16D9E3;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  border-radius: 6px;
}

.time-btn:hover {
  border: 2px solid #16D9E3;
  color: #16D9E3;
}

.hide {
  opacity: 0;
  display: none;
  margin: 0;
}

.primary {
  color: #16D9E3;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 99%;
  height: 95%;

  
  border: 1px solid white;
  border-radius: 30px;
  overflow: hidden;
}

